body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
}
.banner{
    display: flex;
    background-image: url(images/banner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner .banner-content{
    width: 50%;
}
.banner .banner-text{
    width: 450px;
    height: 600px;
    margin-top: 250px;
    margin-left: 200px;
}
.banner .banner-text .banner-text-head{
    display: flex;
    padding-top: 20px;
}
.banner .banner-text .banner-text-head span{
    border: 2px solid #BAE8F7;
    padding: 0;
    margin: 0;

}
.banner .banner-text .banner-text-head h1{
    font-size: 40px;
    font-weight: bolder;
    color: #BAE8F7;
    margin-left: 10px;   
}
.banner .banner-text .banner-text-head h2{
    font-size: 30px;
    font-weight: 900;
    margin-left: 10px;   
}
.banner .banner-text p{
    font-size: 15px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 80px;

}
.banner .banner-text a{
    text-decoration: none;
    background-color: #BAE8F7;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;  
}
.banner .banner-text h4{
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
}




.mission .mission-head h1{
    font-size: 40px;
    font-weight: bold;
    color: #000;
    margin-top: 60px;
    text-align: center;
}
.mission .mission-head span{
    color: #BAE8F7;
}
.mission .mission-box{
    display: flex;
    margin: 30px 20px;


}
.mission .mission-box .mission-box-content{
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 30px;
    border-radius: 10px;

}
.mission .mission-box .box-1{
    background-color: #F1FAFD;
}
.mission .mission-box .box-2{
    background-color: #f1fdf7;
}
.mission .mission-box .box-3{
    background-color: #fbfdf1;
}
.mission .mission-box .mission-box-content img{
    width: 100px;
    height: 100px;
}
.mission .mission-box .mission-box-content h2{
    font-size: 25px;
    font-weight: 800;
    margin-top: 10px;

}
.mission .mission-box .mission-box-content p{
    font-size: 15px;
    font-weight: 400;
    margin: 10px 0;

}


.about{
    display: flex;
}
.about .about-content{
    width: 600px;
    height: 600px;
    margin-top: 50px;
}
.about .about-content h1{
    font-size: 30px;
    font-weight: 900;
    color: #BAE8F7;
    
}
.about .about-content p{
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
    
}
.about .about-content .about-btn{
    margin-top: 30px;
}
.about .about-content .about-btn a{
    text-decoration: none;
    background-color: #BAE8F7;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
}